# Local package 
-e .

# Computational essential
numpy
pandas
scikit-learn

# Other dependencies
pathlib2
jupyter
tqdm

# Figures
plotly
matplotlib
seaborn

# Metrics and logging
codecarbon
tensorboard